@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#changeUnits {
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: #dfe4ea solid 3px;
  background-color: #ff6348;
  color: #dfe4ea;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  margin-left: 15px;
}

.main-title {
  color: #dfe4ea;
  font-weight: 800;
  font-size: 2.5rem;
}

.main-title span {
  color: #ff6348;
}

.header a {
  font-size: 2rem;
  color: #dfe4ea;
  margin-right: 15px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('background.jpg');
  height: 50%;
  width: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfe4ea;
  font-weight: 500;
  font-size: 1.3rem;
}

.inputContainer {
  height: 50%;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f6;
}
